@using Domain.ProjectAggregation;
@using Presentation.WebMVCApp.Controllers;
@model Presentation.WebMVCApp.ViewModels.ArchiveTheTaskViewModel;

@{
    ViewData["Title"] = "Archive The Task";
}

<h4>@ViewData["Title"]</h4>

<div>
    <form asp-action="@nameof(Tasks.ArchiveConfirmed)">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TaskInfo!.Id" />
        <input type="hidden" asp-for="TaskInfo!.ProjectId" />
        <dl class="row">
            <dt class="col-sm-2">
                Belongs to
            </dt>
            <dd class="col-sm-10">
                @Model.TaskInfo!.ProjectName project
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskInfo!.ModifiedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaskInfo!.ModifiedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskInfo!.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaskInfo!.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskInfo!.SprintName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaskInfo!.SprintName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskInfo!.StatusName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaskInfo!.StatusName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskInfo!.OwnerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaskInfo!.OwnerName)
            </dd>
        </dl>
        <p></p>
        <h6>Are you sure you want to archive the task?</h6>
        <p></p>
        <div class="form-group">
            <input type="submit" value="Confirm" class="btn btn-primary" />
            @Html.ActionLink("Cancel", nameof(Tasks.GetTaskInfoList), null,
            routeValues: new {projectId = Model.TaskInfo!.ProjectId},
            new { @class="btn btn-light"})
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}