@using Domain.ProjectAggregation;
@using Domain.SprintAggregation;
@using Presentation.WebMVCApp.Controllers;
@using CoreX.Mvc;
@model Presentation.WebMVCApp.ViewModels.EditTheTaskViewModel

@{
    ViewData["Title"] = "Edit The Task";
}

<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@nameof(Tasks.EditTheTask)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="projectId" asp-for="TaskInfo!.ProjectId" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(m => m.Description,
                    new { @class = "form-control" , @cols="20" , @rows="4" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <p></p>
            <label asp-for="Status" class="control-label"></label>
            @Html.DropDownListFor(
                model => model.Status,
            Model.TaskStatusSelectListItems,
            new { @class = "form-control"})
            <p></p>
            <label asp-for="SprintId" class="control-label"></label>
            @Html.DropDownListFor(
                model => model.SprintId ,
            Model.SprintsInfoItems,
            "<Select a sprint>",
            new { @class = "form-control"})
            <p></p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", nameof(Tasks.GetTaskInfoList), null,
                routeValues: new {projectId = Model.TaskInfo!.ProjectId},
                new { @class="btn btn-light"})
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}