@using Domain.ProjectAggregation;
@using Presentation.WebMVCApp.Controllers;
@model Presentation.WebMVCApp.ViewModels.ArchiveTheSprintViewModel;

@{
    ViewData["Title"] = "Archive The Sprint";
}

<h4>@ViewData["Title"]</h4>

<div>
    <form asp-action="@nameof(Sprints.ArchivingTheSprintConfirmed)">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SprintInfo!.Id" />
        <input type="hidden" asp-for="SprintInfo!.ProjectId" />
        <dl class="row">
            <dt class="col-sm-2">
                Belongs to
            </dt>
            <dd class="col-sm-10">
                @Model.SprintInfo!.ProjectName project
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SprintInfo!.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SprintInfo!.Name)
            </dd>
        </dl>
        <p></p>
        @{
            if (Model.IssuesOfArchivingPossibility != null)
            {
                <table class="table">
                    <tbody>
                        @foreach (var item in Model.IssuesOfArchivingPossibility)
                        {
                            <tr>
                                <td style="color: lightcoral;">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p></p>
                @Html.CheckBoxFor(model => model.ArchivingAllTaskMode)
                @Html.LabelFor(model => model.ArchivingAllTaskMode, "Archive all tasks that belong to this sprint. (If not, the tasks will not be achieved and available on the board.)")
                <hr>
            }
        }
        <h6>Are you sure you want to archive the sprint?</h6>   
    
        <div class="form-group">
            <input type="submit" value="Confirm" class="btn btn-primary" />
            @Html.ActionLink("Cancel", 
            nameof(Sprints.GetSprintInfoList),
            null, routeValues: new {projectId = @Model.SprintInfo!.ProjectId},
            new { @class="btn btn-light"})
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}