@using Domain.SprintAggregation;
@using Domain.ProjectAggregation;
@using Presentation.WebMVCApp.Controllers;
@model Presentation.WebMVCApp.ViewModels.ChangeTheSprintTimeSpanViewModel

@{
    ViewData["Title"] = "Change The Sprint Time Span"; 
}

<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SprintInfo!.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SprintInfo!.Name)
        </dd>
    </dl>
    <div class="col-md-4">
        <form asp-action="@nameof(Sprints.ChangeTheSprintTimeSpan)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="projectId" asp-for="@Model.SprintInfo!.ProjectId" />

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="datefield" id="@nameof(@Model.StartDate)" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <p></p>

            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="date" class="datefield" id="@nameof(@Model.EndDate)" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <p></p>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel",
                nameof(Sprints.GetSprintInfoList),
                null, routeValues: new {projectId = @Model.SprintInfo!.ProjectId},
                new { @class="btn btn-light"})
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}