@using Module.Domain.ProjectAggregation;
@using Module.Presentation.WebMVCApp.Controllers;
@model Module.Presentation.WebMVCApp.ViewModels.DefineASprintViewModel

@{
    ViewData["Title"] = "Define A New Sprint";
}

<h4>@ViewData["Title"] to the @Model.ProjectInfo!.Name project</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@nameof(Sprints.DefiningConfirmed)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", nameof(Sprints.GetSprintInfoList),
                null, routeValues: new {projectId = @Model.ProjectId},
                new { @class="btn btn-light"})
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}