@using Module.Domain.ProjectAggregation;
@using Module.Presentation.WebMVCApp.Controllers;
@model Module.Presentation.WebMVCApp.ViewModels.GetTheSprintInfoViewModel;
 
@{
    ViewData["Title"] = "Sprint Info";
}

<h4>@ViewData["Title"]</h4>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Belongs to
        </dt>
        <dd class="col-sm-10">
            @Model.ProjectInfo!.Name project
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SprintInfo!.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SprintInfo!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SprintInfo!.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SprintInfo!.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SprintInfo!.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SprintInfo!.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="@nameof(Sprints.GetSprintInfoList)" 
    asp-route-projectId="@Model.SprintInfo!.ProjectId">Back to List</a>
</div>