@using XSwift.Mvc;
@using Module.Presentation.WebMVCApp.Controllers;
@model Module.Presentation.WebMVCApp.ViewModels.GetProjectInfoListViewModel;

@{
    ViewData["Title"] = "Projects";
}

<h4>@ViewData["Title"]</h4>

<hr />
<p>
    <a asp-action="@nameof(Projects.Define)">Define A New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectInfoList.Items.FirstOrDefault()!.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectInfoList.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="@nameof(Projects.GetInfo)" asp-route-projectId="@item.Id">Info</a>
                    <span> | </span>
                    <a asp-controller="@nameof(Tasks)" asp-action="@nameof(Tasks.GetTaskInfoList)" asp-route-projectId="@item.Id">Board</a>
                    <span> | </span>
                    <a asp-controller="@nameof(Sprints)" asp-action="@nameof(Sprints.GetSprintInfoList)" asp-route-projectId="@item.Id">Sprints</a>

                    <span> | </span>
                    <a asp-action="@nameof(Projects.ChangeTheProjectName)" asp-route-projectId="@item.Id">Edit</a>
                    <span> | </span>
                    <a asp-action="@nameof(Projects.Archive)" asp-route-projectId="@item.Id">Archive</a>
                    <span> | </span>
                    <a asp-action="@nameof(Projects.Delete)" asp-route-projectId="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>