@model Domain.ProjectAggregation.ProjectInfo

@{
    ViewData["Title"] = "Project Info";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ChangeTheProjectName" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="GetSomeProjectInfo">Back to List</a>
</div>